header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 50px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #000000;
  display: flex;
  justify-content: flex-end;
}

.title {
  width: 46%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.shopping_basket {
  margin-right: 30px;
}

.message {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 20px;
}

.flavours {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.flavour {
  text-align: center;
}

.flavour img {
  width: 400px;
}

.label {
  display: flex;
  justify-content: space-between;
}

.control_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.control_items i{
  padding-right: 4px;
}

.fa-heart{
  color: darkgray;
}

.heart_clicked{
  color: salmon;
}

h3 {
  margin-left: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

hr {
  border-width: 1px;
  color: #000000;
  border-style: solid;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.div2_1 {
  display: flex;
  align-items: center;
}

.div2_1 button {
  margin-left: 5px;
}

.div2_1 p {
  margin-right: 5px;
}

.submit_order{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

a:link,
a:visited {
  color: #000000;
}
